@use "base";


@keyframes bgTransition {
    0% {
        background-color: base.$color-teal;
    }

    32.99% {
        background-color: base.$color-teal;
    }

    33% {
        background-color: base.$color-coral;
    }

    65.99% {
        background-color: base.$color-coral;
    }

    66% {
        background-color: base.$color-honeycomb;
    }

    99.99% {
        background-color: base.$color-honeycomb;
    }

    100% {
        background-color: base.$color-teal;
    }
}

@keyframes heartBeat {
    0% {
        transform: scale(1);
    }

    10%,
    50% {
        transform: scale(1.3);
    }

    20%,
    60% {
        transform: scale(1);
    }

    30%,
    70% {
        transform: scale(1.15);
    }

    40%,
    80% {
        transform: scale(1);
    }

    100% {
        transform: scale(1);
    }
}

@keyframes bright {

    0%,
    100% {
        text-shadow: none;
    }

    10%,
    85% {
        text-shadow: 0px 0px 6px rgb(255, 255, 255);
        color: white;
    }
}

@keyframes travel {
    0% {
        transform: translateX(-100vw) rotate(0deg);
    }

    50% {
        transform: translateX(50vw) rotate(180deg);
    }

    100% {
        transform: translateX(0) rotate(360deg);
    }
}

@keyframes bounce {

    0%,
    100% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(10px);
    }
}