
//Färgschema Ljust
$color-light-background: #F7EDE2; 
$color-dark-textcolor: #424B54; 

//Färgschema Mörkt
$color-dark-background: #424B54; 
$color-light-textcolor: #F7EDE2; 

//Accentfärger 
$color-coral: #F28482; 
$color-teal: #84A59D; 
$color-honey: #F6BD60; 

//Typsnitt 
$font-headings: "Bricolage Grotesque", sans-serif; 
$font-paragraphs: "Montserrat", sans-serif; 

//Textstorlekar 
$font-size-h1: 50px; 
$font-size-h2: 40px; 
$font-size-h3: 30px; 
$font-size-p: 16px; 

