@use "base";
@use "components";

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

%grid-colorbox-style {
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem 5rem;

    .logo {
        width: 15rem;
    }

    .logo img {
        width: 100px;
        height: auto;
    }

    ul {
        display: flex;
        flex-direction: row;
        gap: 2rem;
        list-style: none;
    }

    li {
        font-size: base.$font-size-p;
        font-family: base.$font-paragraphs;

        a {
            text-decoration: none;
            color: base.$color-dark-textcolor;

            &:hover {
                color: base.$color-teal;
                text-decoration: underline;
            }
        }
    }

    li.active {
        font-weight: 600;
    }


}

.search-container {
    position: relative;

    label {
        display: none;
    }

    input {
        @include components.searchBar(15rem, 2rem);

        &:focus {
            outline: 1px solid base.$color-dark-textcolor;
        }
    }

    img.search-icon {
        position: absolute;
        top: 0.3rem;
        right: 1rem;
        height: 22px;
    }
}

.collage {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 3rem 5rem;
}

.bilder {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    width: 50%; 
    gap: 10px;

    #iconic { grid-column: 1; grid-row: 1 / 3; width: 100%; height: auto; }
    #angle { grid-column: 2; grid-row: 1; width: 100%; height: auto;}
    #bright { grid-column: 2; grid-row: 2; width: 100%; height: auto;}
}

.content-columns {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 6rem 5rem;
    margin-bottom: 4rem;
}

.product-information div {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    align-items: center;
}

.textbox h2 {
    font-size: base.$font-size-h2;
    font-family: base.$font-headings;
    margin-top: 2rem;
}

.textbox p {
    max-width: 50ch;
    font-family: base.$font-paragraphs;
    margin-top: 2rem;
}

.bildspel {
    display: grid;
    gap: 10px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 150px 50px 100px 50px 150px;

    #sass {
        grid-column: 1;
        grid-row: 1 / 4;
    }

    #färg1 {
        grid-column: 1;
        grid-row: 4 / 6;
        background-color: base.$color-coral;
        @extend %grid-colorbox-style;

        padding: 1.5rem;
        text-align: center;

        img {
            width: 100px;
            height: auto;
            margin: 0.8rem 0rem;
        }

        p {
            font-size: 12px;
            text-transform: uppercase;
            font-family: base.$font-paragraphs;
            color: black;
        }

        span {
            font-size: 28px;
            text-transform: uppercase;
            color: black;
        }
    }

    #färg2 {
        grid-column: 2;
        grid-row: 1 / 3;
        background-color: base.$color-honeycomb;
        @extend %grid-colorbox-style;
        padding: 2.5em 1.5em;

        svg {
            width: 150px;
            height: auto;
        }
    }

    #animation {
        grid-column: 2;
        grid-row: 3 / 6;
    }

    #map {
        grid-column: 3;
        grid-row: 1 / 4;
    }

    #färg3 {
        grid-column: 3;
        grid-row: 4 / 6;
        background-color: base.$color-teal;
        @extend %grid-colorbox-style;

        display: flex; 
        justify-content: center;
        align-items: center;

        svg {
            height: 80px;
            width: auto;
            fill: base.$color-teal-dark;
        }
    }
}

.content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;

    #col1 {
        grid-column: 1;
    }

    #col2 {
        grid-column: 2;
    }
}

.valuation {
    width: 60%; 

    article {
        @include components.productColumn(100%); 
        margin-bottom: 2rem;

        h3 {
            margin-bottom: 1rem;
        }
    }
}